<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Notepad{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
    html,body{
        text-align:center;
        background-color:grey;
    }

    </style>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
